@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

body {
    background: #222;
}

.card {
    width: 90%;
    max-width: 470px;
    
    color: white;
    margin: 100px auto 0px;
    border-radius: 20px;
    padding: 20px 30px;
    text-align: center;
}

#card {
    background: linear-gradient(45deg, rgb(29, 167, 212), rgb(210, 107, 193));
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 7px;
    height: 20px;
    border-radius: 10px;
    flex: 1;
    margin-right: 16px;
    font-size: 16px;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.search button img {
    height: 40px;
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 40px;
}

.weather {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-icon {
    height: 200px;
    width: 200px;
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 20%;
    margin-bottom: 20px;
    margin-top: 40px;
}

.weather-icon img {
    height: 200px;
    width: 200px;
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 20%;
    margin-bottom: 20px;
}

.weather-status {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-status p {
    margin: 0;
    font-size: 18px;
}


.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    /* margin-top: 50px; */
}

.humidity {
    margin-right: 10px;
    text-align: right;
}

.windspeed {
    text-align: left;
    margin-left: 10px;
}

.col{
    margin-top: 30px;
    display: flex;
    align-items: left;
}

.col img {
    height: 40px;
    width: 40px;
    border-radius: 14px;
    margin-left: 8px;
    margin-right: 8px;
}

.weather {
    display: none;
}

.error {
    display:none;
    color: linear-gradient(45deg, rgb(243, 97, 97), rgb(128, 237, 222));
}
